.vscode/**
.vscode-test/**
src/**
.gitignore
playwright_profile
playwright_profile/**
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
playwright_profile/**
test_bullet_points.md
g.py
install.bat